.logo {
    text-indent: -9999px;
}

.logo-img {
	display: block;
    width: 60%;
    max-width: 1200px;
    margin: 40px auto 20px;
}

.whereabouts {
	color: black;	
	text-align: center;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	font-size: 20px;
	margin-left: 5%;
	margin-right: 5%;

	@media (min-width: 600px) {
		font-size: 40px;
    }
}

